<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.blindBox.mapper.AnimalsSkinMapper">
    
    <resultMap type="AnimalsSkin" id="AnimalsSkinResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="icon"    column="icon"    />
        <result property="avatar"    column="avatar"    />
        <result property="overt"    column="overt"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAnimalsSkinVo">
        select id, name, price, icon, avatar, overt, create_by, create_time, update_by, update_time, remark from animals_skin
    </sql>

    <select id="selectAnimalsSkinList" parameterType="AnimalsSkin" resultMap="AnimalsSkinResult">
        <include refid="selectAnimalsSkinVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="overt != null  and overt != ''"> and overt = #{overt}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectAnimalsSkinById" parameterType="Long" resultMap="AnimalsSkinResult">
        <include refid="selectAnimalsSkinVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAnimalsSkin" parameterType="AnimalsSkin" useGeneratedKeys="true" keyProperty="id">
        insert into animals_skin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="price != null">price,</if>
            <if test="icon != null">icon,</if>
            <if test="avatar != null">avatar,</if>
            <if test="overt != null">overt,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="icon != null">#{icon},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="overt != null">#{overt},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAnimalsSkin" parameterType="AnimalsSkin">
        update animals_skin
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="overt != null">overt = #{overt},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnimalsSkinById" parameterType="Long">
        delete from animals_skin where id = #{id}
    </delete>

    <delete id="deleteAnimalsSkinByIds" parameterType="String">
        delete from animals_skin where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>