<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.blindBox.mapper.SignInMapper">
    
    <resultMap type="SignIn" id="SignInResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="signInDate"    column="sign_in_date"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSignInVo">
        select id, user_id, sign_in_date, status, create_by, create_time, update_by, update_time, remark from sign_in
    </sql>

    <select id="selectSignInList" parameterType="SignIn" resultMap="SignInResult">
        <include refid="selectSignInVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="signInDate != null "> and sign_in_date = #{signInDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectSignInById" parameterType="Long" resultMap="SignInResult">
        <include refid="selectSignInVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSignIn" parameterType="SignIn">
        insert into sign_in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="signInDate != null">sign_in_date,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="signInDate != null">#{signInDate},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSignIn" parameterType="SignIn">
        update sign_in
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="signInDate != null">sign_in_date = #{signInDate},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSignInById" parameterType="Long">
        delete from sign_in where id = #{id}
    </delete>

    <delete id="deleteSignInByIds" parameterType="String">
        delete from sign_in where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="isTodaySignIn" resultType="int">
        SELECT COUNT(*) FROM sign_in WHERE user_id = #{userId} AND status = '0' AND sign_in_date = CURDATE();
    </select>
    
    <select id="selectBySevenDay" resultType="int">
        SELECT COUNT(*) FROM sign_in WHERE user_id = #{userId} AND status = '0' ;
    </select>
    
</mapper>