<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.mapper.AddressMapper">
    
    <resultMap type="Address" id="AddressResult">
        <result property="id"    column="id"    />
        <result property="parent"    column="parent"    />
        <result property="name"    column="name"    />
        <result property="zipCode"    column="zip_code"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
    </resultMap>

    <sql id="selectAddressVo">
        select id, parent, name, zip_code, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME from address
    </sql>

    <select id="selectAddressList" parameterType="Address" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        <where>  
            <if test="parent != null "> and parent = #{parent}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="zipCode != null  and zipCode != ''"> and zip_code = #{zipCode}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectAddressById" parameterType="Long" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert into address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parent != null">parent,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="zipCode != null">zip_code,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parent != null">#{parent},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="zipCode != null">#{zipCode},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateAddress" parameterType="Address">
        update address
        <trim prefix="SET" suffixOverrides=",">
            <if test="parent != null">parent = #{parent},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="zipCode != null">zip_code = #{zipCode},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAddressById" parameterType="Long">
        delete from address where id = #{id}
    </delete>

    <delete id="deleteAddressByIds" parameterType="String">
        delete from address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>