<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.mapper.ConfigGeneralMapper">

    <resultMap type="ConfigGeneral" id="ConfigGeneralResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="isDel"    column="is_del"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectConfigGeneralVo">
        select id, type, is_del, content, create_by, create_time, update_by, update_time, remark from config_general
    </sql>

    <select id="selectConfigGeneralList" parameterType="ConfigGeneral" resultMap="ConfigGeneralResult">
        <include refid="selectConfigGeneralVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="type != null  and type != ''"> and type like concat('%', #{type}, '%')</if>
            <if test="isDel != null  and isDel != ''"> and is_del = #{isDel}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>

    <select id="selectConfigGeneralById" parameterType="Long" resultMap="ConfigGeneralResult">
        <include refid="selectConfigGeneralVo"/>
        where id = #{id}
    </select>

    <insert id="insertConfigGeneral" parameterType="ConfigGeneral" useGeneratedKeys="true" keyProperty="id">
        insert into config_general
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="isDel != null">is_del,</if>
            <if test="content != null">content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="content != null">#{content},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateConfigGeneral" parameterType="ConfigGeneral">
        update config_general
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigGeneralById" parameterType="Long">
        delete from config_general where id = #{id}
    </delete>

    <delete id="deleteConfigGeneralByIds" parameterType="String">
        delete from config_general where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectConfigGeneralByType" parameterType="String" resultMap="ConfigGeneralResult">
        <include refid="selectConfigGeneralVo"/>
        where `type` = #{type}
    </select>

</mapper>