<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.mapper.MajorBattlePlayerHealthMapper">
    
    <resultMap type="MajorBattlePlayerHealth" id="MajorBattlePlayerHealthResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="bloodVolume"    column="blood_volume"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMajorBattlePlayerHealthVo">
        select id, user_id, blood_volume, create_by, create_time, update_by, update_time from major_battle_player_health
    </sql>

    <select id="selectMajorBattlePlayerHealthList" parameterType="MajorBattlePlayerHealth" resultMap="MajorBattlePlayerHealthResult">
        <include refid="selectMajorBattlePlayerHealthVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="bloodVolume != null  and bloodVolume != ''"> and blood_volume = #{bloodVolume}</if>
        </where>
    </select>
    
    <select id="selectMajorBattlePlayerHealthById" parameterType="Long" resultMap="MajorBattlePlayerHealthResult">
        <include refid="selectMajorBattlePlayerHealthVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMajorBattlePlayerHealth" parameterType="MajorBattlePlayerHealth" useGeneratedKeys="true" keyProperty="id">
        insert into major_battle_player_health
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="bloodVolume != null">blood_volume,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="bloodVolume != null">#{bloodVolume},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMajorBattlePlayerHealth" parameterType="MajorBattlePlayerHealth">
        update major_battle_player_health
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="bloodVolume != null">blood_volume = #{bloodVolume},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMajorBattlePlayerHealthById" parameterType="Long">
        delete from major_battle_player_health where id = #{id}
    </delete>

    <delete id="deleteMajorBattlePlayerHealthByIds" parameterType="String">
        delete from major_battle_player_health where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>