<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.mapper.PointsDetailsMapper">

    <resultMap type="PointsDetails" id="PointsDetailsResult">
        <result property="id"    column="id"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="wDId"    column="w_d_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="state"    column="state"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsType"    column="goods_type"    />
        <result property="commodityValue"    column="commodity_value"    />
        <result property="redeemPoints"    column="redeem_points"    />
        <result property="transfer"    column="transfer"    />
        <result property="logistics"    column="logistics"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectPointsDetailsVo">
        select id, user_phone, user_id, user_name, w_d_id, order_id, state, goods_id, goods_name, goods_type, commodity_value, redeem_points, transfer, logistics, create_time, update_by, update_time, create_by from points_details
    </sql>

    <select id="selectPointsDetailsList" parameterType="PointsDetails" resultMap="PointsDetailsResult">
        <include refid="selectPointsDetailsVo"/>
        <where>
            <if test="userPhone != null  and userPhone != ''"> and user_phone like concat('%', #{userPhone}, '%')</if>
            <if test="userId != null "> and user_id like concat('%', #{userId}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="wDId != null "> and w_d_id = #{wDId}</if>
            <if test="orderId != null "> and order_id like concat('%', #{orderId}, '%')</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsType != null  and goodsType != ''"> and goods_type = #{goodsType}</if>
            <if test="params.beginCommodityValue != null and params.beginCommodityValue != '' and params.endCommodityValue != null and params.endCommodityValue != ''"> and CONVERT(commodity_value, DECIMAL(9,2)) between #{params.beginCommodityValue} and #{params.endCommodityValue}</if>
            <if test="params.beginRedeemPoints != null and params.beginRedeemPoints != '' and params.endRedeemPoints != null and params.endRedeemPoints != ''"> and CONVERT(redeem_points, DECIMAL(9,2))  between #{params.beginRedeemPoints} and #{params.endRedeemPoints}</if>
            <if test="transfer != null  and transfer != ''"> and transfer like concat('%', #{transfer}, '%')</if>
            <if test="logistics != null  and logistics != ''"> and logistics = #{logistics}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
        </where>
    </select>

    <select id="selectPointsDetailsById" parameterType="Long" resultMap="PointsDetailsResult">
        <include refid="selectPointsDetailsVo"/>
        where id = #{id}
    </select>

    <insert id="insertPointsDetails" parameterType="PointsDetails" useGeneratedKeys="true" keyProperty="id">
        insert into points_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userPhone != null">user_phone,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="wDId != null">w_d_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="state != null">state,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsType != null">goods_type,</if>
            <if test="commodityValue != null">commodity_value,</if>
            <if test="redeemPoints != null">redeem_points,</if>
            <if test="transfer != null">transfer,</if>
            <if test="logistics != null">logistics,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userPhone != null">#{userPhone},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="wDId != null">#{wDId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="state != null">#{state},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="goodsType != null">#{goodsType},</if>
            <if test="commodityValue != null">#{commodityValue},</if>
            <if test="redeemPoints != null">#{redeemPoints},</if>
            <if test="transfer != null">#{transfer},</if>
            <if test="logistics != null">#{logistics},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updatePointsDetails" parameterType="PointsDetails">
        update points_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="userPhone != null">user_phone = #{userPhone},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="wDId != null">w_d_id = #{wDId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="state != null">state = #{state},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="goodsType != null">goods_type = #{goodsType},</if>
            <if test="commodityValue != null">commodity_value = #{commodityValue},</if>
            <if test="redeemPoints != null">redeem_points = #{redeemPoints},</if>
            <if test="transfer != null">transfer = #{transfer},</if>
            <if test="logistics != null">logistics = #{logistics},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePointsDetailsById" parameterType="Long">
        delete from points_details where id = #{id}
    </delete>

    <delete id="deletePointsDetailsByIds" parameterType="String">
        delete from points_details where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>