<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.mapper.PropProbabilityMapper">
    
    <resultMap type="PropProbability" id="PropProbabilityResult">
        <result property="id"    column="id"    />
        <result property="probability"    column="probability"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPropProbabilityVo">
        select id, probability, `state`, create_by, create_time, update_by, update_time, remark from prop_probability
    </sql>

    <select id="selectPropProbabilityList" parameterType="PropProbability" resultMap="PropProbabilityResult">
        <include refid="selectPropProbabilityVo"/>
        <where>  
            <if test="probability != null "> and probability = #{probability}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectPropProbabilityById" parameterType="Long" resultMap="PropProbabilityResult">
        <include refid="selectPropProbabilityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPropProbability" parameterType="PropProbability">
        insert into prop_probability
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="probability != null">probability,</if>
            <if test="state != null">state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="probability != null">#{probability},</if>
            <if test="state != null">#{state},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePropProbability" parameterType="PropProbability">
        update prop_probability
        <trim prefix="SET" suffixOverrides=",">
            <if test="probability != null">probability = #{probability},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePropProbabilityById" parameterType="Long">
        delete from prop_probability where id = #{id}
    </delete>

    <delete id="deletePropProbabilityByIds" parameterType="String">
        delete from prop_probability where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>