<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.mapper.UserAccountBalanceMapper">

    <resultMap type="UserAccountBalance" id="UserAccountBalanceResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="accountBalance"    column="account_balance"    />
        <result property="status"    column="status"    />
        <result property="alipayAccount"    column="alipay_account"    />
        <result property="alipayAccountName"    column="alipay_account_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserAccountBalanceVo">
        select id, user_id, account_balance, status,alipay_account,alipay_account_name, create_by, create_time, update_by, update_time from user_account_balance
    </sql>

    <select id="selectUserAccountBalanceList" parameterType="UserAccountBalance" resultMap="UserAccountBalanceResult">
        <include refid="selectUserAccountBalanceVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="accountBalance != null  and accountBalance != ''"> and account_balance = #{accountBalance}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectUserAccountBalanceById" parameterType="Long" resultMap="UserAccountBalanceResult">
        <include refid="selectUserAccountBalanceVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserAccountBalance" parameterType="UserAccountBalance" useGeneratedKeys="true" keyProperty="id">
        insert into user_account_balance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="accountBalance != null">account_balance,</if>
            <if test="alipayAccount != null">alipay_account,</if>
            <if test="alipayAccountName != null">alipay_account_name,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="accountBalance != null">#{accountBalance},</if>
            <if test="alipayAccount != null">#{alipayAccount},</if>
            <if test="alipayAccountName != null">#{alipayAccountName},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserAccountBalance" parameterType="UserAccountBalance">
        update user_account_balance
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="accountBalance != null">account_balance = #{accountBalance},</if>
            <if test="alipayAccount != null">alipay_account = #{alipayAccount},</if>
            <if test="alipayAccountName != null">alipay_account_name = #{alipayAccountName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserAccountBalanceById" parameterType="Long">
        delete from user_account_balance where id = #{id}
    </delete>

    <delete id="deleteUserAccountBalanceByIds" parameterType="String">
        delete from user_account_balance where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
