<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qwk.mapper.VersioningMapper">

    <resultMap type="Versioning" id="VersioningResult">
        <result property="id"    column="id"    />
        <result property="version"    column="version"    />
        <result property="versionNumber"    column="version_number"    />
        <result property="fileUrl"    column="fileUrl"    />
        <result property="fileSize"    column="fileSize"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="fileType"    column="file_type"    />
    </resultMap>

    <sql id="selectVersioningVo">
        select id, version,version_number, fileUrl, fileSize,file_type, create_by, create_time, update_by, update_time, remark from versioning
    </sql>

    <select id="selectVersioningList" parameterType="Versioning" resultMap="VersioningResult">
        <include refid="selectVersioningVo"/>
        <where>
            <if test="version != null  and version != ''"> and version like concat('%', #{version}, '%')</if>
            <if test="versionNumber != null "> and version_number = #{versionNumber}</if>
            <if test="fileType != null "> and file_type = #{fileType}</if>
            <if test="params.beginFileSize != null and params.beginFileSize != '' and params.endFileSize != null and params.endFileSize != ''"> and fileSize between #{params.beginFileSize} and #{params.endFileSize}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>

    <select id="selectVersioningById" parameterType="Long" resultMap="VersioningResult">
        <include refid="selectVersioningVo"/>
        where id = #{id}
    </select>

    <insert id="insertVersioning" parameterType="Versioning" useGeneratedKeys="true" keyProperty="id">
        insert into versioning
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="version != null and version != ''">version,</if>
            <if test="versionNumber != null">version_number,</if>
            <if test="fileUrl != null and fileUrl != ''">fileUrl,</if>
            <if test="fileSize != null">fileSize,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="version != null and version != ''">#{version},</if>
            <if test="versionNumber != null">#{versionNumber},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateVersioning" parameterType="Versioning">
        update versioning
        <trim prefix="SET" suffixOverrides=",">
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="versionNumber != null">version_number = #{versionNumber},</if>
            <if test="fileUrl != null and fileUrl != ''">fileUrl = #{fileUrl},</if>
            <if test="fileSize != null">fileSize = #{fileSize},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVersioningById" parameterType="Long">
        delete from versioning where id = #{id}
    </delete>

    <delete id="deleteVersioningByIds" parameterType="String">
        delete from versioning where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getLatest" resultMap="VersioningResult">
        <include refid="selectVersioningVo"/>
        where id = (SELECT MAX(id) FROM versioning);
    </select>

</mapper>
